div( id='filters' class='button-group')
	button(data-filter='' class='button is-checked') All
	button(data-filter='.drawing' class='button') Drawing
	button(data-filter='.painting' class='button') Painting
	button(data-filter='.anatomy' class='button') Anatomy
