div(class='js-isotope' id='container')
	div(class= 'item painting')
		a(href='https://www.youtube.com/embed/v4HfFHOIDAY' class='link')
			div.itemWrap
				img(src='img/AllaPrimaPortraitPaintingDemo-ZimouTan-thumb.png')
				h4 Alla prima portrait painting demo, by Zimou Tan
				p Alla prima portrait painting demo, by Zimou Tan. A time lapse video on how it starts to finish from live model. Enjoy!
				
	div(class= 'item anatomy')
		a(href='https://www.youtube.com/embed/ZDN3RyL_vvU' class='link')
			div.itemWrap
				img(src='img/AnatomyWorkshopVol1-CharlesHu-thumb.png')
				h4 Anatomy Workshop Volume 1: Structure and Proportion with Charles Hu
				p Anatomy Workshop Volume 1: Structure and Proportion with Charles Hu
	
	div(class= 'item anatomy')
		a(href='https://www.youtube.com/embed/tkbApmkm0D4' class='link')
			div.itemWrap
				img(src='img/AnatomyWorkshopVol2-CharlesHu-thumb.png')
				h4 Anatomy Workshop Volume 2: Figure Drawing Principles with Charles Hu
				p In this lecture, the second title in a series on human anatomy as it relates to figurative art, figure painter and instructor Charles Hu expands on the structure and proportion principals discussed in his first lecture, translating them into a live figure drawing studio environment. 
		
	div(class= 'item drawing')
		a(href='https://www.youtube.com/embed/7-bb2oHL2XA' class='link')
			div.itemWrap
				img(src='img/FowkesCharcoalPortraitStepbyStep-thumb.png')
				h4 Charcoal Portrait Step by Step
	
	div(class= 'item painting')
		a(href='https://www.youtube.com/embed/k48D-n3wEKA' class='link')
			div.itemWrap
				img(src='img/OilPaintingStillLifeDemo-Shevlino-thumb.png')
				h4 Oil painting still life demonstration by David Shevlino
	
	div(class= 'item painting')
		a(href='https://www.youtube.com/embed/sqA5jNcssW4' class='link')
			div.itemWrap
				img(src='img/PaintingPortrait-AllaPrima-SeanCheetham-thumb.png')
				h4 Painting Portrait - Alla Prima - Sean Cheetham
				p This is a portrait demonstration shot in 2005. The music is by Del Toro L.A.
		
	div(class= 'item drawing')
		a(href='https://www.youtube.com/embed/2delOXUlLRo' class='link')
			div.itemWrap
				img(src='img/PortraitDrawingWithGraphite-thumb.png')
				h4 Portrait Drawing with Graphite - Timelapse
				p Graphite pencils (hb, 2b, 6b)Strathmore 400 bristol paper 11x15" 2 hours 20 mins sped up to 7 minutes. Thanks Matt Highfield for the photo :)
		
	div(class= 'item painting')
		a(href='https://www.youtube.com/embed/nJLQfWRcTOA' class='link')
			div.itemWrap
				img(src='img/PortraitPaintingofBreyonAustin-thumb.png')
				h4 Portrait Painting of Breyon Austin
				p Another time lapse video of a portrait painting by Seamus Berkeley.This five minute video shows how to paint a portrait in oil paint.
	
	div(class= 'item drawing')
		a(href='https://www.youtube.com/embed/A-Uqvo-n-QQ' class='link')
			div.itemWrap
				img(src='img/QuickPortraitStudy-Lemen-thumb.png')
				h4 A quick Portrait Study
				p This is a quick glance at rendering a portrait in the observation method, a bit different from the methods I showed on my Gnomon DVD's. Hopefully this gives some insight into lengthy rendered drawing and there will be more to come in the future that is more precise and better described.
	
	div(class= 'item drawing')
		a(href='https://www.youtube.com/embed/PQ5ZaK1XExE' class='link')
			div.itemWrap
				img(src='img/ReillyMethodforDrawingHeadStructure-thumb.png')
				h4 Reilly Method for Drawing the Head Structure
				p I learned this at Watts Atelier and other blogs online. This is a older video I made last year and re-posted it.
	
	div(class= 'item painting')
		a(href='https://www.youtube.com/embed/2zjLhFHVDXo' class='link')
			div.itemWrap
				img(src='img/SeanCheethamPaintingaPortrait-thumb.png')
				h4 Sean Cheetham Painting a Portrait
				p This is a video I shot and cut for 3kickstudio of acclaimed Artist Sean Cheetham painting a portrait. The music is by "Del Tor L.A." the song is called "Freeing my mind"
		
	div(class= 'item painting')
		a(href='https://www.youtube.com/embed/FywlHFF7t9Q' class='link')
			div.itemWrap
				img(src='img/SeanCheethamPortraitWorkshopDemo-thumb.png')
				h4 Sean Cheetham Portrait Workshop Demo
				p Some notes on master Sean Cheetham's workshop. Amazing stuff!
	
	div(class= 'item')
		a(href='https://www.youtube.com/embed/Kankm6ji4cg' class='link')
			div.itemWrap
				img(src='img/ShevlinoUnderstandingValueandColor-thumb.png')
				h4 David Shevlino Understanding Value and Color
	
	div(class= 'item anatomy')
		a(href='https://www.youtube.com/embed/8q7Lp8sEC0M' class='link')
			div.itemWrap
				img(src='img/SimplifyingJointsInPerspective-thumb.png')
				h4 Simplifying Joints In Perspective
				p In this demonstration, Marshall Vandruff explains the joints of the foot and how to draw them as simple forms in perspective.
	
	div(class= 'item drawing')
		a(href='https://www.youtube.com/embed/6JxCYI60iYE?list=PL17CFCF7697BEF168' class='link')
			div.itemWrap
				img(src='img/TimelapseDwgwPanPastel-Kassan-thumb.png')
				h4 Timelapse Drawing with PanPastel
				p Time lapse from a live webcast film on 2.15.11 in NYC. Generously sponsored by PanPastel.
	
	div(class= 'item drawing')
		a(href='https://www.youtube.com/embed/0pVufSOk61I' class='link')
			div.itemWrap
				img(src='img/YoniFigureDrawingTimelapse-thumb.png')
				h4 Yoni Figure Drawing Timelapse
				p A time-lapse of a Figure Drawing Demonstration.
	
	div(class= 'item painting')
		a(href='https://www.youtube.com/embed/rEOtTZITQmE' class='link')
			div.itemWrap
				img(src='img/LAAFA-Karmin-StillLifeDemo2-thumb.png')
				h4 LAAFA: Jacqueline Kamin Still Life Demo
				p This is a three hour still life demo, by Jacqueline Kamin. This demo. was done at a workshop at the Los Angeles Academy of Figurative Art. Visit our website at www.laafa.org.
	
	div(class= 'item anatomy')
		a(href='https://www.youtube.com/embed/pDgyQjNFVQk' class='link')
			div.itemWrap
				img(src='img/IntroductionToHumanAnatomyForArtists-thumb.png')
				h4 Introduction to Human Anatomy for Artists
				p Introducing “Anatomy of the Human Body for Artists”.. In this video I’m gonna give you an overview of the course. Why we study anatomy, what you’ll learn from this course, and what’s in the premium version of the course.
	
	div(class= 'item drawing')
		a(href='https://www.youtube.com/embed/NHewz3JbKrQ' class='link')
			div.itemWrap
				img(src='img/HowToDrawHair-thumb.png')
				h4 How to Draw Hair
				p In this tutorial I show you how to draw hair. How most people approach it the wrong way, and how to get the hair to look 3-dimensional instead of looking like spaghetti...
		
	div(class= 'item drawing')
		a(href='https://www.youtube.com/embed/R4Ke8Kg8n8w' class='link')
			div.itemWrap
				img(src='img/CharlesHuFigureDrawingDemo-thumb.png')
				h4 Charles Hu Figure Drawing Demo
				p Short, raw footage of Figure drawing expert Charles Hu. 
		
	div(class= 'item drawing')
		a(href='https://www.youtube.com/embed/8SP30aX-ECw' class='link')
			div.itemWrap
				img(src='img/NathanFowkesDrawingDemo-thumb.png')
				h4 Nathan Fowkes Drawing Demonstration
				p Portrait drawing with charcoal on toned paper.
				
